- breadcrumb :item, @item

p style="color: green" = notice

== render @item

== render partial: 'shared/child_list', locals: { children: @item.reports }

div
  => link_to t('.btn.edit'), edit_item_path(@item)

  = button_to t('.btn.destroy'), @item, method: :delete
