- breadcrumb :brand, @brand

p style="color: green" = notice

== render @brand

== render partial: 'shared/child_list', locals: { children: @brand.products }

div
  => link_to t('.btn.edit'), edit_brand_path(@brand)

  = button_to t('.btn.destroy'), @brand, method: :delete
